@inject NavigationManager Nav

<nav class="bottom-nav">
    <NavLink href="/" Match="NavLinkMatch.All" class="nav-item">
        <i class="ti ti-calendar" aria-hidden="true"></i>
        <span>캘린더</span>
    </NavLink>
    <NavLink href="/stats" class="nav-item">
        <i class="ti ti-chart-bar" aria-hidden="true"></i>
        <span>통계</span>
    </NavLink>
    <NavLink href="/goals" class="nav-item">
        <i class="ti ti-target-arrow" aria-hidden="true"></i>
        <span>목표</span>
    </NavLink>
    <NavLink href="/accounts" class="nav-item">
        <i class="ti ti-wallet" aria-hidden="true"></i>
        <span>계좌</span>
    </NavLink>
</nav>
